<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Forbidden</title>
</head>
<body>
<p  style="font-size: 50pt; text-align: center; margin-top: 20%; font-family: monospace;">
☂ 403
</p>
<script>
/* =) */ document.onclick=function(){var b=true;var elc=document.getElementsByTagName("p")[0].style;var bgc=document.body.style;setInterval(function(){if(b){bgc.backgroundColor="#000";elc.color="#fff";}else{bgc.backgroundColor="#fff";elc.color="#000";}b=!b;},500);}
</script>
</body>
</html>
